# Copy to .env at project root and adjust values
### Database
DB_NAME = "infdb"
DB_USER = "infdb_user"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_PASSWORD = "infdb"
GRID_DATA_PATH="/your/path/to/grid_data"